.App {
  text-align: center;
}
:root {
  --text-shadow-offset-y: 2px;
}


.shadow {
  box-shadow: none;
  text-shadow: 0 var(--text-shadow-offset-y) 10px #1D014C, 0 var(--text-shadow-offset-y) 20px #6600cc;
}


/* Container for iframe and overlays */
.container {
  position: relative; /* Set a positioning context for absolute positioned child elements */
  width: 540px;
  height: 960px;
  margin: 0 auto; /* Center container */
}

/* Styles for iframe */
iframe {
  width: 540px;
  height: 960px;
  border: none; /* Remove any default borders */
  z-index: 1; 
}


@media (max-width: 768px) {
  .container {
    width: 100%;  /* adjust as needed */
    height: auto; /* adjust as needed */
  }
  /* Tanaki positioned vertically centered between two sections */
  .tanaki-model {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 20%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for the element's own width/height */
    z-index: 3;
  }
  
  /* Thought bubble positioned right above Tanaki */
  .thought-bubble {
    position: absolute;
    bottom: calc(50% + 60px); /* Assuming Tanaki's height is around 120px, adjust accordingly */
    left: 50%; 
    transform: translateX(-50%);
    z-index: 2;
  }
}

@media (min-width: 769px) {
  /* Tanaki positioned horizontally centered between two sections */
  .tanaki-model {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  
  /* Thought bubble positioned right above Tanaki */
  .thought-bubble {
    position: absolute;
    bottom: calc(50% + 60px); 
    left: 50%; 
    transform: translateX(-50%);
    z-index: 2;
  }
}

